@model IEnumerable<AppProducto.CapaNegocio.Entity.Categoria>;

@{
    ViewData["Title"] = "Categorías";
}

<div class="col-10 m-auto">

    <br />
    <h2>Listado de Categorías</h2>
    <br />

    <hr />

    <br />

    <div class="card">
        <div class="card-header bg-info">
            <h5 class="text-white">
                <span class="text-dark">
                    <i class="nav-icon fa fa-list text-white" aria-hidden="true"></i>
                </span>

                Lista de Categorías

            </h5>
        </div>

        <div class="card-body">

            <div class="col-8 m-auto">

                <table class="table table-bordered table-hover table-sm">

                    <thead>
                        <tr class="table-primary">
                            <th><center>@Html.DisplayNameFor(item => item.ID_Categoria)</center></th>
                            <th><center>@Html.DisplayNameFor(item => item.Descripcion)</center></th>
                            <th><center>Operaciones</center></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">@item.ID_Categoria</td>
                                <td align="center">@item.Descripcion</td>
                                <td align="center">
                                    <a class="btn btn-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@item.ID_Categoria">
                                        <i class="fa fa-edit text-white" aria-hidden="true"></i>
                                        Editar
                                    </a>
                                    <a class="btn btn-warning btn-sm text-white" role="button" asp-action="Details" asp-route-id="@item.ID_Categoria">
                                        <i class="fa fa-eye text-white" aria-hidden="true"></i>
                                        Detalles
                                    </a>
                                    <a class="btn btn-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.ID_Categoria">
                                        <i class="fa fa-trash text-white" aria-hidden="true"></i>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

                <br />

                <div class="col-3 ml-auto">
                    <a class="btn btn-success btn-sm ml-auto" role="button" asp-action="Create">
                        <i class="fa fa-plus text-white" aria-hidden="true"></i>
                        Nueva Categoría
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>

